XML-XSD/Semana 19.2.2026 - 20.2.2026/Taller de Vehiculos.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                <!--* Elementos Simples -->  

    <!--? Entrada -> Fecha --> 
    <xsd:simpleType name="tipoFecha">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}-[0-9]{2}-[0-9]{4}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Matricula -> Pais--> 
    <xsd:simpleType name="tipoPais">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Kilometraje -> tipoKilometraje --> 
    <xsd:simpleType name="tipoKilometraje2">
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="(1[0]{6})|[0-9]{1,6}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--?Intervencion -> Tipo de Intervencion --> 
    <xsd:simpleType name="tipoTipoIntervencion">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="mantenimiento"/>
            <xsd:enumeration value="reparación"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Nombre -> Tipo Nombre --> 
    <xsd:simpleType name="tipoNombre">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([A-ZÁÉÍÓÚÑ]{1}[a-záéíóúñ]+\s){1,}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Municipio -> CP --> 
    <xsd:simpleType name="tipoCP">
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="[0-9]{5}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Telefono -> Tipo de Telefono --> 
    <xsd:simpleType name="tipoDeTelefono">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="fijo"/>
            <xsd:enumeration value="móvil"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Contacto -> Email --> 
    <xsd:simpleType name="tipoEmail">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]+@[a-z]+\.[a-z]{2,}"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Cambio -> Elemento --> 
    <xsd:simpleType name="tipoElemento">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-záéíóúñ]+"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Cambio -> Precio --> 
    <xsd:simpleType name="tipoPrecio">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,}\.[0-9]{2}€"/>
        </xsd:restriction>
    </xsd:simpleType>

    <!--? Descipcion -> Precio2 --> 
    <xsd:simpleType name="tipoPrecio2">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{1,}\.[0-9]{2}€"/>
        </xsd:restriction>
    </xsd:simpleType>
                <!--* Elementos Complejos-->

    <!--TODO: EMPIEZA VEHICULO --> 
    <!--? Vehiculo -> Tipo Vehiculo --> 
    <xsd:complexType name="tipoVehiculo">
        <xsd:sequence>
            <xsd:element name="entrada" type="tipoEntrada"/>
            <xsd:element name="marca" type="tipoMarca"/>
            <xsd:element name="kilometraje" type="tipoKilometraje" minOccurs="0"/>
            <xsd:element name="matricula" type="tipoMatricula"/>
            <xsd:element name="propietario" type="tipoPropietario"/>
            <xsd:element name="intervenciones" type="tipoIntervenciones"/>
        </xsd:sequence>
    </xsd:complexType>

            <!--TODO: EMPIEZA TIPO VEHICULO --> 
            <!--? Tipo Vehiculo -> Entrada --> 
            <xsd:complexType name="tipoEntrada">
                <xsd:attribute name="fecha" type="tipoFecha" use="required"/>
            </xsd:complexType>
            <!--? Tipo Vehiculo -> Marca--> 
            <xsd:complexType name="tipoMarca">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="modelo" type="xsd:string" use="required"/>
                        <xsd:attribute name="year" type="xsd:integer"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>
            <!--? Tipo Vehiculo -> Kilometraje --> 
            <xsd:complexType name="tipoKilometraje">
                <xsd:attribute name="km" type="tipoKilometraje2" use="required"/>
            </xsd:complexType>
            <!--? Tipo Vehiculo -> Matricula --> 
            <xsd:complexType name="tipoMatricula">
                <xsd:simpleContent>
                    <xsd:extension base="xsd:string">
                        <xsd:attribute name="pais" type="tipoPais"/>
                    </xsd:extension>
                </xsd:simpleContent>
            </xsd:complexType>

                    <!--TODO: EMPIEZA PROPIETARIO -->  
                    <!--? Tipo Vehiculo -> Propietario --> 
                    <xsd:complexType name="tipoPropietario">
                        <xsd:sequence>
                            <xsd:element name="nombre" type="tipoNombre"/>
                            <xsd:element name="direccion" type="tipoDireccion"/>
                            <xsd:element name="contacto" type="tipoContacto"/>
                        </xsd:sequence>
                        <xsd:attribute name="empresa" type="xsd:boolean"/>
                    </xsd:complexType>

                            <!--TODO: EMPIEZA DIRECCION --> 
                            <!--? Propietario -> Direccion --> 
                            <xsd:complexType name="tipoDireccion">
                                <xsd:sequence>
                                    <xsd:element name="nombreVia" type="xsd:string"/>
                                    <xsd:element name="numero" type="tipoNumero"/>
                                    <xsd:element name="municipio" type="tipoMunicipio"/>
                                    <xsd:element name="provincia" type="xsd:string"/>
                                </xsd:sequence>
                            </xsd:complexType>
                            <!--? Direccion -> Numero --> 
                            <xsd:complexType name="tipoNumero">
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="portal" type="xsd:string"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                            <!--? Direccion -> Municipio --> 
                            <xsd:complexType name="tipoMunicipio">
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="CP" type="tipoCP"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                            <!--TODO: TERMINA DIRECCION -->

                            <!--TODO: EMPIEZA CONTACTO --> 
                            <!--? Propietario -> Contacto --> 
                            <xsd:complexType name="tipoContacto">
                                <xsd:sequence>
                                    <xsd:element name="telefono" type="tipoTelefono" maxOccurs="4"/>
                                    <xsd:element name="email" type="tipoEmail" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                            <!--? Contacto -> Tipo Telefono --> 
                            <xsd:complexType name="tipoTelefono">
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:integer">
                                        <xsd:attribute name="tipo" type="tipoDeTelefono"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                            <!--TODO: TERMINA CONTACTO -->
                    <!--TODO: TERMINA PROPIETARIO-->

                    <!--TODO: EMPIEZA INTERVENCIONES -->  
                    <!--? Vehiculo -> Intervenciones --> 
                    <xsd:complexType name="tipoIntervenciones">
                        <xsd:sequence>
                            <xsd:element name="cambio" type="tipoCambio" minOccurs="0" maxOccurs="unbounded"/>
                            <xsd:element name="otro" type="tipoOtro" minOccurs="0" maxOccurs="unbounded"/>
                        </xsd:sequence>
                        <xsd:attribute name="tipo" type="tipoTipoIntervencion"/>
                    </xsd:complexType>
                    <!--? Intervenciones -> Cambio --> 
                    <xsd:complexType name="tipoCambio">
                        <xsd:attribute name="elemento" type="tipoElemento" use="required"/>
                        <xsd:attribute name="precio" type="tipoPrecio" use="required"/>
                    </xsd:complexType>
                    <!--? Intervenciones -> Otro --> 
                    <xsd:complexType name="tipoOtro">
                        <xsd:sequence>
                            <xsd:element name="descripción" type="tipoDescripcion" maxOccurs="unbounded"/>
                        </xsd:sequence>
                    </xsd:complexType>

                            <!--TODO: EMPIEZA DESCRIPCION --> 
                            <!--? Descripcion -> Tipo Descipcion --> 
                            <xsd:complexType name="tipoDescripcion">
                                <xsd:simpleContent>
                                    <xsd:extension base="xsd:string">
                                        <xsd:attribute name="precio" type="tipoPrecio2"/>
                                    </xsd:extension>
                                </xsd:simpleContent>
                            </xsd:complexType>
                            <!--TODO: TERMINA DESCRIPCION -->

                    <!--TODO: TERMINA INTERVENCIONES -->

            <!--TODO: EMPIEZA TIPO VEHICULO -->

    <!--TODO: TERMINA VEHICULO -->

    <!--? Taller -> Vehiculo --> 
    <xsd:complexType name="tipoTaller">
        <xsd:sequence>
            <xsd:element name="vehiculo" type="tipoVehiculo" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

                <!--* Elemento Raiz-->

    <!--? Taller -->
    <xsd:element name="taller" type="tipoTaller"/>

</xsd:schema>