XML-XSD/Semana 19.1.2026 - 23.1.2026/22.1.2026 - Agenda mas Definida.xml

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--Elemento Complejo-->
    <xsd:complexType name="tipoContactoDatos">
        <xsd:sequence>
            <xsd:element name="telefono" type="xsd:integer"/>
            <xsd:element name="nombre" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoDatos">
        <xsd:sequence>
            <xsd:element name="contacto" type="tipoContactoDatos" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoContacto">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="apellido1" type="xsd:string"/>
            <xsd:element name="apellido2" type="xsd:string"/>
            <xsd:element name="direccion" type="xsd:string"/>
            <xsd:element name="telefono" type="xsd:integer" maxOccurs="2"/>
            <xsd:element name="email" type="xsd:string" minOccurs="1"/>
            <xsd:element name="fechaNacimiento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provincia" type="xsd:string"/>
            <xsd:element name="datos" type="tipoDatos" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoAgenda">
        <xsd:sequence>
            <xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Elemento raiz-->
    <xsd:element name="agenda" type="tipoAgenda"/>
</xsd:schema>