XML-XSD/Semana 9.2.2026 - 13.2.2026/9.2.2026 - Agenda con Expresiones Regulares.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--Elemento Simple-->
    <xsd:simpleType name="tipoCorreo">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]+((\.[a-z]+)*[a-z0-9_-]*)*@[a-z]((\.[a-z]+)*[a-z0-9_-]*)*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoNombre">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+(\s[A-ZÁÉÍÓÚÑ][a-záéíóúñ]+)?"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="tipoTelefono">
        <xsd:restriction base="xsd:integer">
            <xsd:pattern value="(+[0-9]{2})?[6-9][0-9]{8}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <!--Elemento Complejo-->
    <xsd:complexType name="tipoContactoDatos">
        <xsd:sequence>
            <xsd:element name="telefono" type="tipoTelefono"/>
            <xsd:element name="nombre" type="tipoNombre"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoDatos">
        <xsd:sequence>
            <xsd:element name="contacto" type="tipoContactoDatos" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoContacto">
        <xsd:sequence>
            <xsd:element name="nombre" type="tipoNombre"/>
            <xsd:element name="apellido1" type="xsd:string"/>
            <xsd:element name="apellido2" type="xsd:string"/>
            <xsd:element name="direccion" type="xsd:string"/>
            <xsd:element name="telefono" type="tipoTelefono" maxOccurs="2"/>
            <xsd:element name="email" type="tipoCorreo" minOccurs="1"/>
            <xsd:element name="fechaNacimiento" type="xsd:string" minOccurs="0"/>
            <xsd:element name="provincia" type="xsd:string"/>
            <xsd:element name="datos" type="tipoDatos" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tipoAgenda">
        <xsd:sequence>
            <xsd:element name="contacto" type="tipoContacto" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--Elemento raiz-->
    <xsd:element name="agenda" type="tipoAgenda"/>
</xsd:schema>